.detailForm :global(.ant-form-item-control-input) {
  background: rgba(0, 0, 0, 0.04);
  padding: 4px 11px;
  border-radius: 2px;
  min-height: 32px;
  display: flex;
  align-items: center;
  color: var(--color-gray-600);
}
